################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# This will contain the math source code used to build code documentation
/mathsrc

# Stuff from math I don't want to fly around here

/.github/workflows/cppcheck.yml
/.github/workflows/doxygen.yml
/.github/workflows/msbuild.yml
/math
/math_core
/math_tests
/.gitignore
/cppcheck_report.txt
/Doxyfile
/LICENSE
/math.sln
/readme.md
