################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# This will contain the math source code used to build code documentation
/mathsrc
